#  Slicing

You can return a range of characters by using the slice syntax.

Specify the start index and the end index, separated by a colon, to return a part of the string.

In [1]:
a ="Data Science"

To check the characters at a certain index, use print

In [2]:
print(a[2])

#Retrieving elements at index 2

t

We can return a range of characters by using the slice syntax.

Specify the start index and the end index, separated by a colon, to return a part of the string.

In [3]:
print(a[5:12])

#Retrieving elements between index 5 dan 12 (not included)

Science

In [4]:
a[3]=o

#to change the character, the form a is a string so it can't be changed

NameError: name 'o' is not defined

In [5]:
b = ["a","b","c","d"] 
print(b)

['a', 'b', 'c', 'd']

In [6]:
b[2]= "i"
print(b)

#except if it is a string then it can be changed by one element

['a', 'b', 'i', 'd']

Task

In [7]:
c = "Data Analyst"

In [8]:
print(c[5])

A

In [9]:
print(c[:4])

Data

In [10]:
d = ["A","B","C","E"]

In [11]:
d[3]="D"
print(d)

['A', 'B', 'C', 'D']